<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
    </script>
    <script type="text/javascript">
    	src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular.min.js"
    </script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">


</script>


  </head>
  <body  ng-app="app" id="app">
	  <div class="container clear" ng-controller="ctrl">
		  <div class="" id="header" style="-webkit-app-region: drag" background="444444">
			  <div class="header_top clear">
				  <div class="left floatl clear">
					  <div class="left floatl clear">
						  <div class="button_round floatl">
							  <span>Xra</span>
						  </div>
						  <button class="button floatr" background="636769">
							  <!-- <img src="icons/eye_open.png" alt=""/>  -->
							 <<
							  </button>
					</div>
					<div class="right floatl clear" >
						<div class="button floatr" background="aaaaaa">
							<p><<</p> </div>
				   </div>

     			  </div>
				  <div class="right floatl">
					  <div class="button floatl" background="aaaaaa">
						  <p>H1</p> </div>
     			  </div>
			  </div>
			  <div class="header_bottom clear">
				  <div class="left floatl clear">
					  <div class="left floatl">
	     				  <p></p>
	     			  </div>
					  <div class="right floatl">
					 </div>
     			  </div>
				  <div class="right floatl">
     				  <div class="button">
     				  	<p>H1</p>
					</div>
     			  </div>
			  </div>
		  </div>

	    <div class="floatl clear left" id="">
		    <div class="floatl clear left" id="project">
     		    <h2>Projects</h2>
			    <p ng-repeat="project in projects" class="projects">{{project}}</p>
     	    </div>
		    <div class="floatl clear right" id="chapters">
			    <div class="clear">
				    <h2 class="floatl">Chapters</h2>
     			    <div class="floatr button button_small" background="aaaaaa">
     			    		<p>+</p>
     			    </div>
			    </div>




			    <div class="chapter" ng-repeat="chapter in project.chapters" background="4D78CC">
     		    		<p>{{chapter.text}}</p>
     		    </div>
     	    </div>
	    </div>

	    <div class="floatl right" id="editor">
		    <div class=""id="actualeditor" contenteditable="">
dasdasds
		    </div>
	    </div>

	</div>
  </body>


  <script type="text/javascript">
  var myApp = angular.module('app',[]);
		myApp.controller('ctrl', ['$scope', function($scope) {
			$scope.title = "Le Titel";
			$scope.projects = [];
			$scope.project = {
			"name": "project1",
			"createdat":"",
			"chapters":[{
				"name": "chaptername","text": "chaptertext"}
				,{"name": "chaptername","text": "chaptertext"},
				{"name": "chaptername","text": "chaptertext"}
			]};

		}]);



	$(document).ready(function(){
		$('[background]').each(function(){
			var hex1 = addHexColor($(this).attr('background').toString(), '111111');
			var hex2 = subHexColor($(this).attr('background'), '111111');
			$(this).css({
			     background: "-webkit-gradient(linear, left top, left bottom, from(#"+hex1+"), to(#"+hex2+"))"
			});
		});

	});


	function addHexColor(c1, c2) {
	  var hexStr = (parseInt(c1, 16) + parseInt(c2, 16)).toString(16);
	  while (hexStr.length < 6) { hexStr = '0' + hexStr; } // Zero pad.
	  return hexStr;
	}
	function subHexColor(c1, c2) {
	  var hexStr = (parseInt(c1, 16) - parseInt(c2, 16)).toString(16);
	  while (hexStr.length < 6) { hexStr = '0' + hexStr; } // Zero pad.
	  return hexStr;
	}


  </script>
  <script src="./renderer.js"></script>

</html>
